/* font api */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* shared section */
.flex{
    display: flex;
}
.text3{
    text-align: center;
    font-size: 3rem;
}

.text-orange{
    color: rgba(233, 90, 8, 1);
}

/* navbar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
nav li{
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: black;
}

/* banner section */
.hero{
    margin: 0 150px;
    align-items: flex-end;
}
.hero-text{
    display: flex;
    flex-direction: column;
    font-weight: 400;
}
.hero-img{
    /* width: 100%; */
}
.hero-heading{
    font-size: 3em;
}

/* plants section */
.plants{
    /* width: 80dvw;
    position: absolute; */
}

.plant-head-1{
    text-align: center;
}
.plant-title{
    font-weight: 500;
    font-size: 3em;
}
.plant-des{
    font-size: 1.125rem;
}
/* products section */
.product{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 200px 150px 150px;
}

.add-to-cart{
    background-color: rgba(233, 90, 8, 1);
    width: 250px;
    height: 50px;
}
.product a{
    text-decoration: none;
    color: black;
}
/* plants lover section */
.plants-lover{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    margin: 0 150px;
}
.plants-lover-img{
    /* background-image: url(assets/flower-store.png);
    background-repeat: no-repeat;    */
    position: relative;
    display: inline-block;
}
.main-img{
  display: block;
    
}

.badge{
   position: absolute;
  top: -100px;
  right: -130px;
  width: 220px;
  background: transparent;
  box-shadow: black;
}
.badge:hover{
    animation: spin 1s infinite;
}
@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.plants-lover li{
    margin-bottom: 20px;
}
/* deals section */
.deal-heading{
    max-width: 50dvw;
    margin: auto;
    
}
.deal-style{
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 15px;
        overflow: hidden;

}
.deal-img-1{
     background-image: url(assets/deal-bloom.png);
}
.deal-img-2{
    background-image: url(assets/deal-ana.png);
}
.deal-img-3{
    background-image: url(assets/deal-zabo.png);
}
.img-container{
    max-width: 1140px;
    /* width: 100%; */
    display: grid;
    margin: 0 150px;
    grid-template-columns: repeat(2, 360px 750px) ;
    grid-template-rows: 200px 200px;
    gap: 15px;
    margin-bottom: 40px;
}
.img-container > div:nth-child(1) {
    grid-column: 1 / 2;
}

.img-container > div:nth-child(2) { 
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.img-container > div:nth-child(3) {
    
    grid-row: 1 / 3;
}
/* newsletter section */
.newsletter{
    background-image: url(assets/news-letter-bg.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.news-head-title{
     font-weight: 400;
     color: white; 
     font-size: 3rem;"
}
.news-box{
    width: 645px; 
    height: 50px; 
    border: none; 
    padding-left: 15px;
}
.news-btn{
    height: 50px; 
    width: 185px; 
    padding: 15px 55px; 
    font-weight: 500; 
    font-style: 1.125rem; 
    background-color: rgb(255, 102, 0); 
    color: white; 
    border: none;"
}
/* footer section */
footer{
    display: flex;
    justify-content: space-around;
}
footer ul li {
    text-decoration: none;
    list-style: none;
    margin: 15px;
}
.socials img{
    margin-right: 20px;
}
@media screen and (max-width: 576px) {
    .nav-hide{
        display: none;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-items: center;
    }
    .nav-img{
        width: 5%;
    }
    .nav-list{
        margin-top: 30px ;
    }
    .hero{
        flex-wrap: wrap-reverse;
        justify-content:left;
        align-items: left;
        margin: 0;
    }
    .hero-img{
        width: 100%;
        height: 100%;

    }
    .main-img{
        width: 95vw;
    }
    .product{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        margin: 0;
        margin-bottom: 40px;
        margin-left: 10px;
    }
    .pr-img{
        width: 100%;

    }
    .add-to-cart{
        width: 100%;
    }
    .products{
        margin: 0;
        padding: 0;
    }
    .plants-lover{
        flex-direction: column;
        margin: auto;  
    }
    .plant-head{
        text-align: left;
        font-size: 1.75rem;
        font-weight: bold;
    }
    .badge{
        display: none;
    }
    .plants-lover-des{
        flex: none;
        font-size: 1rem;
        text-align: left;
        margin: 0;
    }
    .img-container > div{
        height: 185px;
        
    }
    .img-container{
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 97vw;
        margin-bottom: 50px ;
    }
    .text3{
        font-size: 1.75rem;
    }
        .deal-heading{
            display: inline;
        }
        #deal-des{
            width: auto;
            font-size: 1rem;
        }

        .newsletter{
            width: 100%;
            background-repeat: no-repeat;
        }
        .news-head-title{
            font-size: 1.5rem;
            display: inline;
        }
        .news-box{
            /* width: 365px; */
            width: 220px;
            /* height: 50px; */
        }
        .news-btn{
            width: 100px;
            padding: 0  ;
            height: 52px;
        }
        .news-form{
            display: flex;
            margin-top: 20px;
            justify-content: center;
            justify-items: center;
            align-items: center;
        }
        .footer{
            display: flex;
            flex-direction: column;
            margin: 0;
            padding-left: 0;
            margin-bottom: 10px;
        }
        .footer-list ul{
        padding: 0;
        }
        .socials{
            margin-bottom: 100px;
        }
        
}